/node_modules
/public/hot
/public/storage
/public/*.json
/public/*.js
/public/css/*.css
/public/js/*.js
/storage/*.key
/vendor
/coverage
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
